*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
main h1{
    font-family: "Roboto", "sans-serif";
}
#circle{
    width: 300px;
    height: 300px;
    background-color: black;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 10px black;
    border: 2px solid black;
    transition: all .6s;
}

main input{
    width: 300px;
    padding: 12px;
    border-radius: 5px;
    font-size: 18px;
    border: 2px solid black;
    outline: none;
}

#press{
    padding: 15px;
    cursor: pointer;
    border-radius: 25px;
    outline: none;
    transition: .5s;
    border: 2px solid black;
}

#press:hover{
    background-color: black;
    color: white;
}

@media screen and (max-width: 480px) {
    main h1{
        font-size: 26px;
    }
    #circle{
        width: 250px;
        height: 250px;
    }
    main input{
        width: 250px;
    }
    #press{
        padding: 10px;
        border-radius: 20px;
    }
}